# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# IDE folders
.vscode
.idea

# Executables
*.exe
*.out
*.app


table1
table2
table
graphics
graphics2
graphics3
*.txt
*.dat*
main
cmake-build-debug/
bin/
